
.header {
    display: flex;
}

.header-img {
    width: 65px;
    margin-left: 70px;
    top: 50px;
}

.orga {
    color: #274C5B;
    font-size: 38px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.nav {
    display: flex;
    width: 912.791px;
    align-items: center;
    gap: 70px;
    flex-shrink: 0;
}

.nav-list {
    list-style: none;
    display: flex;
    justify-content: center;
    margin-left: 150px;
    gap: 25px;
    font-size: 20px;


}
.nav-item a {
    text-decoration: none ;
    color: black;
}

.search {
    margin-left: 20px;
    margin-top: 15px
}

.search-input {
    padding: 20px;
    width: 200px;
    border: #ccc;
    color: #ccc;
    border-radius: 36px;
    margin-top: -75px;
    margin-left: -20px;
}

.search-img {
    cursor: pointer;
    position: absolute;
    width: 50px;
    height: 50px;
    top: -25px;
    margin-left: -26px;

}

.search-btn {
    display: inline-block;
    background-image: url("");
    background-size: cover;
    cursor: pointer;
    position: absolute;
    width: 20px;
    height: 20px;
    margin-left: -38px;
    border-radius: 10px;
    margin-top: 8px;

}


.Cart {
    position: absolute;
    width: 53px;
    display: flex;
    margin-top: -28px;
    margin-left: -15px;

}

.parag {
    margin-left: -35px;
    color: #274C5B;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.cartbtn {
    width: 20px;
    height: 20px;
    border-radius: 10px;
    margin-left: -20px;
}

.cartbtn {
    border-radius: 33px;
    border: 1px solid #E0E0E0;
}



/*  */