

.container {
    width: 1400px;
    margin: 0 auto;
}
.banner-about img {
    width: 1520px;
}
.banner-about {
    position: relative;
    width: 1420px;
    height: 450px;
    flex-shrink: 0;
}
.about_bacground {
    position: absolute;
    top: 0;
}
.banner-about h2 {
    position: absolute;
    top: 100px;
    left: 650px;
    color: #274C5B;
    font-family: Roboto ;
    font-size: 70px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.about__content img {
    width: 800px;
}
.about__content {
    display: flex;
    align-items: center;
    gap: 20px;
}
.content__title {
    display: flex;
    width: 675px;
    flex-direction: column;
    align-items: flex-start;
    gap: 58px;
}
.content__title_headinng {
    display: flex;
    width: 675px;
    flex-direction: column;
    align-items: flex-start;
    gap: 14px;
}
.content__title_headinng__title {
    display: flex;
    width: 674px;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}
.content__title_headinng__title h2 {
    color: #7EB693;
    font-size: 36px;
    font-style: normal;
    font-weight: 500px;
    line-height: normal;
}
.content__title_headinng__title h3 {
    width: 674px;
    color: #274C5B;
    font-family: Roboto;
    font-size: 50px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.content__title_headinng__title__content {
    display: flex;
    width: 671px;
    flex-direction: column;
    align-items: flex-start;
    gap: 48px;
}
.content__title_headinng__title__content p {
    color: #525C60;
    font-family: Open Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 165.4%;
}
.title__content__points {
    display: flex;
    align-items: center;
    gap: 65px;
}
.title__content__points__icons {
    width: 292px;
    height: 63px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    gap: 10px;
}
.tract img {
    width: 50px;
}
.plants {
    width: 50px !important;
}
.title__content__points__icons h2 {
    color: #274C5B;
    font-family: Roboto;
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.title__content__points__icons__img {
    width: 51px;
    height: 48px;
    flex-shrink: 0;
}
.about__content button {
    width: 226px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 16px;
    background-color: #274C5B;
    color: #fff;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    transition: all 0.3s ease;
}
.about__content button:hover {
    color: #274C5B;
    background-color: #fff;
    border: 1px solid #274C5B ;
}
.choos-main {
    width: 1520px;
    height: 1429px;
    flex-shrink: 0;
    margin-top: 100px !important;

    background-color: #f9f8f8;
    display: flex;
    flex-direction: column;
    gap: 91px;
    justify-content: center;
    align-items: center;
}
.choos-main-title {
        display: flex;
    width: 1400px;
    align-items: center;
    gap: 51px;
    margin: 0 auto;
}
.choos-main-title-content {
    display: flex;
    width: 671px;
    flex-direction: column;
    align-items: flex-start;
    gap: 36px;
    flex-shrink: 0;
}
.choos-main-title-content-heading {
    width: 671px;
    height: 258px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.choos-main-title-content-heading-title h2 {
    color: #7EB693;
    font-family: Yellowtail;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.choos-main-title-content-heading-title h3 {
    width: 544px;
    color: #274C5B;
    font-family: Roboto;
    font-size: 50px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.choos-main-title-content-heading p {
    width: 671px;
    color: #525C60;
    font-family: Open Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 165.4%;
}
.choos-main-title-content-points {
    display: flex;
    width: 504px;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
}
.choos-main-title-content-points-titles {
    display: flex;
    width: 500px;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
}
.choos-main-title-content-points-titles p {
    width: 500px;
    padding: 0 40px;
    color: #525C60;
    font-family: Open Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 165.4%;
}
.points-titles-btn {
    display: flex;
    align-items: center;
    padding: 29px 91px 29px 27px;
    gap: 7px;
    border-radius: 49px;
    background-color: #ececec;
}
.points-titles-btn p {
    color: #274C5B;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.points-titles-btn img {
    width: 16px;
    height: 16px;
}
.choos-main-title-cards {
    display: flex;
    width: 1118px;
    justify-content: center;
    align-items: flex-start;
    gap: 30px;
    margin: 0 auto;
}
.title-card {
    width: 257px;
    height: 335px;
    flex-shrink: 0;
    border-radius: 30px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
}
.title-card h2 {
    color: #274C5B;
    font-family: Roboto;
    font-size: 25px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.title-card p {
    width: 184px;
    height: 115px;
    flex-shrink: 0;
    color: #525C60;
    text-align: center;
    font-family: Open Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 165.4%;
}
.tilte-card-img {
    width: 95px;
    height: 95px;
    flex-shrink: 0;
    background-color: #f9f8f8;
    border-radius: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.about-team {
    display: flex;
    width: 1520px;
    flex-direction: column;
    align-items: center;
    gap: 42px;
}
.team-content {
    margin-top: 100px;
    display: flex;
    width: 452px;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}
.team-content-titles {
    display: flex;
    width: 554px;
    flex-direction: column;
    align-items: center;
}
.team-content-titles h2 {
    color: #7EB693;
    font-family: Yellowtail;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.team-content-titles h3 {
    color: #274C5B;
    font-family: Roboto;
    font-size: 50px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.team-content p {
    width: 852px;
    color: #525C60;
    text-align: center;
    font-family: Open Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 165.4%;
}
.team-content-box {
    display: flex;
    width: 1401px;
    align-items: flex-start;
    gap: 27px;
}
.box-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 449px;
    height: 615px;
    border-radius: 30px;
    background-color: #c4c4c4;
    transition: all 0.3s;
}
.box-cards:hover {
    box-shadow: 0px 29px 44px rgba(150, 150, 150, 0.25);
}
.box-titles {
    width: 100%;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 145px;
    background-color: #f9f8f8;
    border-radius: 0px 0px 30px 30px;
}
.box-titles-name {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.box-titles-name h2 {
    color: #274C5B;
    font-size: 25px;
    font-style: normal;
    font-weight: 800;
}
.box-titles-name h3 {
    color: #7EB693;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: -10px;
}
.box-titles-icons {
    display: flex;
    width: 63.256px;
    justify-content: flex-end;
    align-items: center;
    gap: 17px;
    flex-shrink: 0;
}
.offer-product {
    width: 1520px;
    height: 892px;
    flex-shrink: 0;
    background-color: #274C5B;
    margin-bottom: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;

}
.offer-product-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* gap: 33px; */
}
.offer-product-content-title {
    display: flex;
    width: 502px;
    flex-direction: column;
    align-items: center;
    /* gap: 8px; */
}
.offer-product-content-title h2 {
    color: #7EB693;
    font-family: Yellowtail;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.offer-product-content-title h3 {
    color: #FFF;
    font-family: Roboto;
    font-size: 50px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.offer-product-content-img {
    display: flex;
    width: 1399.41px;
    /* flex-direction: column; */
    justify-content: center;
    align-items: flex-start;
    gap: 21px;
}
.offer-product-content-img-div {
    width: 334.102px;
    height: 367px;
    flex-shrink: 0;
    background-color: #fff;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.offer-product-content-img h2 {
    color: #FFF;
    font-family: Roboto;
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-left: 140px;
}
.content-img-box {
    display: flex;
    flex-direction: column;
    gap: 20px;
    
}
.product img {
    border-radius: 20px;

}
.products img {
    border-radius: 20px !important;
}
